
.app{
    overflow: hidden;
    
}

/* header */
.header{
    height: 80px; 
       
}

.header_sticky.sticky{
    height: var(--header-height);  
}

.header_sticky{
    background-image: linear-gradient(0,#5fc666, #0fa439 );
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    position: fixed;
    z-index: 10000;
    transition: 0.5s;  
}

.sticky .header_nav-list{
    padding-top: 10px;
}


.sticky .seperate:after{
    border-right: 2px solid #555;
    content: "";          
    display: block ;
    position: absolute;  
    height: 16px;    
    left: -1px;
    top: 50%;
    transform: translateY(-110%); 
}

.sticky .header_nav-search{
    padding-top: 5px;
}

.header_nav{
    display:flex;
    justify-content:space-between; 
    color: #333;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.header_nav-list{
    display:flex;
    list-style: none;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    font-weight: 500;
    padding-top: 15px;
}

.mobile_tablet-search{
    display:none;
}


.header_nav-item{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    line-height: 20px;
}

.header_nav-item a{
    color: #333;
}

.seperate:after{
    border-right: 2px solid #555;
    content: "";          
    display: block ;
    position: absolute;  
    height: 16px;    
    left: -1px;
    top: 50%;
    transform: translateY(-100%); 
}

.header_link{
    cursor: pointer;
}

.header_link:hover{ 
    color: var(--primary-color);
}

.header_nav-search{
    padding-top: 10px;
    display: flex;
    position: relative;
}

.header_nav-search-input{
    width: 400px;
    border: 0;
    padding: 0;
    margin: 0;
    height: 30px;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 1.3rem;
    background-color: rgb(245, 245, 245);
    font-weight:600;
    color: #333;
    outline: none;
}

.mobile_tablet-bars{
    width: 50px;
    height: 30px;
    border-radius: 3px;
    position: absolute;
    left: 5px;
    text-align: center;
    cursor: pointer;
    display: none;
}

.mobile_tablet-bars i{
    font-size: 3.3rem;
    color: #333;
    margin: auto;
    line-height: 30px;  
}

.mobile_tablet-bars i:hover{
    color: var(--primary-color);
}

.header_nav-search-btn{
    width: 50px;
    height: 30px;
    background-color: rgb(245, 245, 245);
    border-radius: 3px;
    position: absolute;
    right: 0px;
    text-align: center;
    cursor: pointer;
}

.header_nav-search-btn i{
    font-size: 2rem;
    color: #333;
    margin: auto;
    line-height: 30px;  
}

.header_nav-search-btn i:hover{
    color: var(--primary-color);
}

.hover{
    cursor: pointer;
}

.hover:hover{
    color: var(--primary-color);
}

.header_help{
    position: absolute;
    width: 500px;
    height:300px;
    background-color: rgb(76, 65, 65);
    right: 0;
    top: 30px;
}

.contact,
.notify{
    cursor: pointer;
}

.contact:hover,
.notify:hover{
    color: var(--primary-color);
}

.contact:hover .header_nav-contact-list,
.notify:hover .header_nav-notify{
    display: block;
}

.header_nav-notify{
    cursor: context-menu;
    position: absolute;
    background-color: rgb(238, 238, 238);
    color: #000;
    width: 300px;
    right: 0;
    top: 30px;
    height: 300px;
    border-radius:10px;
    z-index: 10;
    padding: 0;
    transform-origin: calc(100% - 32px) top;
    animation: headerGrowth ease-in 0.3s;
    will-change: opacity, transform;
    display: none;
    box-shadow: 0 0 3px #333;
}

@keyframes headerGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }   
}

.header_nav-notify::after{
    content: "";
    width: 88px;
    height: 40px;
    position: absolute;
    right: 0;
    top: -20px;
}

.header_nav-notify::before{
    content: "";
    border-width: 20px 27px;
    border-style:  solid;
    position: absolute;
    right: 6%;
    top: -30px;
    border-color: transparent transparent rgb(238, 238, 238) transparent;
}

.header_nav-notify-list{
    overflow-y: scroll;
    color: #000;
    width: 300px;
    right: 0;
    top: 30px;
    list-style: none;
    height: 250px;
    border-radius:10px;
    z-index: 10;
    padding: 0;
}

.header_nav-notify-list a{
    text-decoration: none;
    color: #000;
}

.header_nav-notify-list a:hover{
    color: #999;
}

.header_nav-notify-item{
    display: flex;
    border-bottom: 1px solid #999;
}

.header_nav-notify-item img{
    width: 60px;
    height: 50px;
    padding: 5px;
}

.header_nav-notify-item span{
    line-height: 25px;
    padding-right: 5px;
}

.header_nav-notify-header{
    padding-left: 10px;
    font-size: 1.7rem;
    line-height: 40px;
    color: rgb(105, 103, 103);
    border-bottom: 2px solid rgb(68, 66, 66);
    text-align: center;
  
}

.header_nav-contact-list{
    cursor: context-menu;
    position: absolute;
    background-color: rgb(238, 238, 238);
    color: #000;
    width: 300px;
    right: 0;
    top: 30px;
    list-style: none;
    height: 290px;
    border-radius:10px;
    z-index: 10;
    padding: 0;
    transform-origin: calc(100% - 32px) top;
    animation: headerGrowth ease-in 0.3s;
    will-change: opacity, transform;
    box-shadow: 0 0 3px #333;
    display: none;
}


.header_nav-contact-list::after{
    content: "";
    width: 88px;
    height: 40px;
    position: absolute;
    right: 0;
    top: -20px;
}

.header_nav-contact-list::before{
    content: "";
    border-width: 20px 27px;
    border-style:  solid;
    position: absolute;
    right: 4%;
    top: -30px;
    border-color: transparent transparent rgb(238, 238, 238) transparent;

}

.header_nav-contact-header{
    padding-left: 10px;
    font-size: 1.5rem;
    line-height: 40px;
    color: rgb(57, 56, 56);
    border-bottom: 2px solid rgb(68, 66, 66);
}

.header_contact{
    border-bottom: 1px solid #999;
    padding: 10px
}

.header_contact-header{
    padding-left: 10px;
}

.header_contact-header h3{
    margin: 10px 0;
}

.header_contact-list{
    list-style: none;
    padding-left: 20px;
}

/* ------------------------------ */

.img_banner{
    height: 50px;
    margin-top: 40px;
}
/* navbar */

.navbar{
    padding-top: 50px;
}

.navbar_list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 30px;
    background-color: rgb(11, 131, 35);  
}

.navbar_list a{
    text-decoration: none;
    color: #000;
}

.navbar_item{
    line-height: 30px;
    font-weight: 600;
    padding: 0 28px;
    cursor: pointer;
    border-left: 1px solid rgb(15, 182, 49);
    position: relative;
   
}



.navbar_item:hover{
    background-color: rgb(15, 56, 23);
    color:rgb(245, 245, 245)
}

.other_list,
.video_list,
.image_list,
.news_list,
.volleyball_list,
.genre_list,
.international_list,
.vn_list,
.new_list{
    position: absolute;
    z-index: 99;
    background-color: rgb(11, 131, 35);
    padding:0;
    list-style: none;
    right: 0;
    left: 0;
    text-align:center;
    display: none;
    transform-origin: 50% top;
    animation: headerGrowth ease-in 0.3s;
    will-change: opacity, transform;
    box-shadow: 0 0 3px #333;
    display: none;
}

.other_item,
.video_item,
.image_item,
.news_item,
.volleyball_item,
.genre_item,
.international_item,
.vn_item,
.new_item{
    border-left: 1px solid rgb(15, 182, 49);
    border-bottom: 1px solid rgb(15, 182, 49);
    border-right: 1px solid rgb(15, 182, 49);
}

.other_item:hover,
.video_item:hover,
.image_item:hover,
.news_item:hover,
.volleyball_item:hover,
.genre_item:hover,
.international_item:hover,
.vn_item:hover,
.new_item:hover{
    color: #fff;
    background-color:rgb(15, 56, 23);
}

.other:hover .other_list,
.video:hover .video_list,
.image:hover .image_list,
.news:hover .news_list,
.volleyball:hover .volleyball_list,
.genre:hover .genre_list,
.international:hover .international_list,
.vn:hover .vn_list,
.new:hover .new_list{
    display:block;
}

/* -------------------------------- */

/* banner_all */
.banner_all{
    display:flex;
    margin-top: 1px;
}

/* --------------------------------- */

/* banner  */
.banner{
    position: relative;
    overflow: hidden;
    width: 900px;
    z-index: 1;
}

.banner_slide a{
    text-decoration: none;
    color: #000;
}

.banner_slide-img {
    width: 100%;
}

.banner_slide-img img{
    width: 900px;
    height: 450px;
    z-index: 200;
}
.banner_slide {
    transition: all 0.5s;
    display: flex;
}

.banner_slide-button {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 20px;
    display: none;
    cursor: pointer;
}

.banner_slide-button i {
    font-size: 2rem;
}

.banner:hover .banner_slide-button {
    display: block;
}

.banner_slide-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.banner_slide-button-pre {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.banner_slide-button-next {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.banner_slide-img h2{
    padding-left: 10px;
    height: 26px;
    line-height: 26px;
    margin: 0;
}

.banner_slide-img h2:hover{
    color: #888;
}

/* --------------------------- */

/* banner_hotnews */

.banner_hotnews-header{
    height: 40px;
    background-color: rgb(214, 213, 213);
    border-bottom: 3px solid #777;
    padding: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(64, 61, 61);
}
.banner_list{
    width: 300px;
    height: 440px;
    background-color: #fff;
    padding: 0;
    margin: 0;
    overflow-y: scroll;  
}

.banner_list a{
    text-decoration: none;
    color: #000;
}



.banner_item{
    height: calc(440px / 5);
    background-color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(186, 181, 181);
    cursor: pointer;
}

.banner_item:hover{
    color: #777;
}

.banner_item img{
    height: calc(430px / 5);
    width: 110px;
    padding: 4px;
}

.banner_item span{
    font-size: 1.3rem;
    line-height: 20px;
    padding-right: 3px;
}

/* --------------------------- */
 

/* container */

.container{
    
}

.container_content{
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.container_content-week{
    background-color: #fff;
    width: 40%;
    border-right: 2px solid rgb(209, 202, 202);
}
.container_content-new{
    width: 60%;
    margin-left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container_content-week-all{
    border-bottom: 1px solid rgb(209, 202, 202);
}

.container_content-week-all h2{
    margin: 10px 5px 0 5px;
}

.container_content-week-title{
    font-size: 1.4rem;
    font-weight: 600;
}

.container_content-week-title a:hover{
    color: #555;
}

.container_content-week-title a{
    text-decoration: none;
    color: #000;
}

.container_content-week-content{
    display:flex;
}

.container_content-week-content img{
    height: 100px;
    width: 150px;
}
.container_content-week-content a{
    text-decoration: none;
    color: #222;
    font-size: 1.4rem;
    padding: 8px;
    
}

.container_content-week-content span{
    line-height: 20px;
}

.container_content-week-content span:hover{
    color: #666;
}

.container_content-week-content i{
    margin-left: 5px;
    color: #777;
}

.container_content-week-content i:hover{
    color: #999;
}

/* ------------------------------ */

.content_list{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 610px;
    overflow-y: scroll;
    border-bottom: 1px solid rgb(220, 220, 220);
    border-top: 1px solid rgb(220, 220, 220);
}

.content_header{
    background-color: rgb(243, 242, 242);
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 20px;
    color: #222;
    border-bottom: 1px solid rgb(220, 220, 220);
    border-radius: 1px;
}
.content_item{
    padding: 0;
    margin: 0;
    cursor: default;
    border: 1px solid rgb(220, 220, 220)
}

.content_pane{
    display: flex;
    justify-content: space-between;
}

.content_pane-match{
    width: calc(100% - 120px);
    line-height: 60px;
    text-align: center;
}

.match-list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    height: 60px;
    border-bottom: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
}

.match-list:last-child{
    border-bottom: 0 !important;
}

.match-item img{
    width: 30px;
    height: 25px;
    text-align: center;  
    top: 50%;
    transform:translateY(50%);  
    margin: 5px;
}

.match-item{
    font-size: 1.5rem;
    color: #333;
   
}

.width10{
    width: 10%;
    color: #666;
    text-align: right;
}

.widthleft35{
    width: 35%;
    text-align: left;
}

.widthright35{
    width: 35%;
    text-align: right;
}

.widthleft{
    width: 40%;
    text-align: left;
}

.widthright{
    width: 40%;
    text-align: right;
}

.width20{
    width: 20%;
}


.content_pane-logo{
    margin: auto;
}

.logo-euro{
    width: 50px;
    height: 50px;
}

.logo-worldcup{
    width: 50px;
    height: 50px;
}

.logo-premier{
    width: 100px;
    height: 50px;
}

.logo-laliga{
    width: 55px;
    height: 55px;
}

.logo-Serie{
    width: 60px;
    height: 60px;
}

/* tabs */

.tabs{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.tab_item{
    padding: 12px 13px;
    font-size: 1.8rem;
    text-align: center;
    color: #000;
    font-weight: 600;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tab_item:hover {
    background-color: rgb(228, 228, 228);
    border-color: rgb(130, 130, 130);
}

.tab_item.active {
    background-color: rgb(228, 228, 228);
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    background-color: #6fe96d;
    transition: all 0.2s ease;
}

.tab_content {
    padding: 20px 10px;
}

.tab_pane {
    color: #333;
    display: none;  
}

.tab_pane.active {
    display: block;
}

.content{
    display:flex;
}

.content_news{
    width: 35%; 
    /* background-image: linear-gradient(0,#ebebeb, #bdbdbd );  */
    background-color: #f7f7f7;
}

.content_news img{
    width: 100%;
    height: 150px;
}

.content_news a{
    text-decoration: none;
    color: #222;  
}

.content_news h2{
    font-size: 1.8rem;  
    padding: 8px;
    margin: 0;
}

.content_news h2:hover{
    color: rgb(30, 95, 209);
}

.content_news p{
    font-size: 1.5rem;  
    padding: 8px;
    margin: 0;
    line-height: 20px;
}

.content_news span{
    font-size: 1rem;  
    padding: 8px;
    margin: 0;
}

.content_news span:hover{
    color: rgb(30, 95, 209);
}

.content_news i:hover{
    color: #999;
}

.content_news i{
    font-size: 1rem;  
    padding-bottom: 8px;
    margin: 0;
    padding-top: 10px;

}

.content_news-list{
    /* background-image: linear-gradient(0,#f7f6f6, #f7f7f7 ); */
    /* background-color: #f7f7f7; */
    width: 65%;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    list-style: none;
}

.content_news-item{
    border-bottom: 1px solid rgb(189, 189, 189);
    padding: 5px 10px 15px 10px;
    margin-bottom: 10px;
    
}

.content_news-item:last-child{
    border-bottom: 0px solid rgb(189, 189, 189);
    margin-bottom: 0;
}
.content_news-item a{
    text-decoration: none;
    color: #222; 
}

.content_news-item h2{
    margin-top: 0;
    font-size: 1.8rem;
    
}
.content_news-item h2:hover{
    color: rgb(30, 95, 209);
}

.content_news-item span{
    font-size: 1.5rem; 
    line-height: 20px; 
}


.container_content-battle{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* battle */

.battles{
    display: flex;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.battle_item{
    width: 50%;
    padding: 12px;
    font-size: 1.8rem;
    text-align: center;
    color: #000;
    font-weight: 600;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all 0.5s ease;
}

.battle_item:hover {
    background-color: rgb(228, 228, 228);
    border-color: rgb(130, 130, 130);
}

.battle_item.active {
    background-color: rgb(228, 228, 228);
}

.battles .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    background-color: #6fe96d;
    transition: all 0.2s ease;
}

.battle_pane{
    width: 100%;
    padding: 0px 10px;
    font-size: 1.8rem;
    text-align: center;
    color: #000;
    font-weight: 600;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all 0.5s ease;
    display: none; 
}

.battle_pane.active {
    display:flex;
}

.battle_pane-content{
    width: 100%;
}

.titles{
    padding: 0px 0px 8px 0px ;
    font-size: 1.6rem;
    text-align: center;
    color: #000;
    font-weight: 600;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all 0.5s ease;
    display: flex;
    justify-content: space-between;
    position: relative;  
}

.battle_pane .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    background-color: #6fe96d;
    transition: all 0.2s ease;
}

.title{
    width: 100%;
    padding: 8px 0px;
    font-size: 1.6rem;
    text-align: center;
    color: #000;
    font-weight: 600;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all 0.5s ease;
}

.title:hover {
    background-color: rgb(228, 228, 228);
    border-color: rgb(130, 130, 130);
}

.title.active {
    background-color: rgb(240, 240, 240);
}

.battle_content{
    width: 100%;
    
}

.battle_content .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    background-color: #6fe96d;
    transition: all 0.2s ease;
}

.pane{
    display:none;
}

.pane.active {
    display: block;
}

.titles .lines {
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 0;
    height: 6px;
    background-color: #a9e6a8;
    transition: all 0.2s ease;
}

/*------------------------- */

.result_titles{
    padding: 0px 0px 8px 0px;
    font-size: 1.6rem;
    text-align: center;
    color: #000;
    font-weight: 600;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all 0.5s ease;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.result_title{
    width: 100%;
    padding: 8px 0px;
    font-size: 1.6rem;
    text-align: center;
    color: #000;
    font-weight: 600;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all 0.5s ease;
}

.result_title:hover {
    background-color: rgb(228, 228, 228);
    border-color: rgb(130, 130, 130);
}

.result_title.active {
    background-color: rgb(240, 240, 240);
}

.result_pane{
    display:none;
}

.result_pane.active {
    display: block;
}

.result_titles .result_line{
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 0;
    height: 6px;
    background-color: #a9e6a8;
    transition: all 0.2s ease;
    z-index: 1;
}

/* ------------------------- */
/* team-slide */

.team_all{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.team_name{
    color: #333;
    margin-bottom: 5px;
    margin-top: 0px;
}
.teams{
    position: relative;
    overflow: hidden;
    width: calc(100%);
    z-index: 1;
    padding: 10px 0;
   
}

.team_slide a{
    text-decoration: none;
    color: #000;
    z-index: 1;
}

.team_slide-img img{
    width: 50px;
    height: 45px;
    z-index: 200;
    padding: 10px;
}

.team_slide {
    transition: all 0.5s;
    display: flex;
}

.team_slide-button {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 5px;
    display: none;
    cursor: pointer;
    z-index: 300;
}

.team_slide-button i {
    font-size: 2rem;
}

.teams:hover .team_slide-button {
    display: block;
}

.team_slide-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.team_slide-button-pre {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.team_slide-button-next {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.team_slide-img h2{
    padding-left: 10px;
    height: 26px;
    line-height: 26px;
    margin: 0;
}

.team_slide-img h2:hover{
    color: #888;
} 


/* video */
.content_video{
    height: 500px;
    background-color:#fff;
    width: 75%;
    margin-right: 5px;
}


.content_video h1{
    color: #333;
    padding-left: 10px;
}

.content_video-list h1{
    color: #333;
    margin-top: 3px;
    padding-left: 10px;
    padding-bottom: 12px;
    border-bottom: 2px solid rgb(199, 199, 199);
    margin-bottom: 5px;
}
.content_video-list{
    background-color: #fff;
    height: 500px;
    width: 25%;
    padding: 10px;
}

.list_video{
    overflow-y: scroll;
    height:440px;
}

.list_video div{
    border-bottom: 2px solid rgb(230, 230, 230);
    width: 100%;
    font-size: 1.5rem;
    padding-left: 10px;
    padding-bottom: 5px;
}

.list_video .active{
    border: 4px solid rgb(137, 213, 80);
}

.main_video{
    margin: 10px;
    border: 5px solid rgb(220, 228, 215);
}

.main_video video{
    width: 100%;
    height: 430px;
    outline: none;
}

.list_video video{
    width: 100%;
    height: 120px;
    object-fit: cover;
    cursor: pointer;
    padding: 10px;
}


.container_content-list{
    width: 70%;
    background-color:#fff;
    margin:0 ;
    padding: 0;
    list-style: none;
    margin-right: 10px;
    padding: 10px;
}
.container_content-category{
    background-color: #fff;
    width: 30%;
    padding: 10px;
}

.container_content-item{
  
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(224, 224, 224);
}

.container_content-item img{
    padding: 10px 5px;
    width: 30%;
}

.container_content-item-link{
    text-decoration: none;
    color: #222;
    padding-left: 10px;
    padding-right: 20px;
    width: 70%;
}

.container_content-item-link h2{
    font-size: 2rem;
}

.container_content-item-link h2:hover{
    color: blue;
}

.container_content-item-link span{
    font-size: 1.5rem;  
}

.category_content{
    margin-bottom: 40px
}

.category_content a{
    text-decoration: none;
    color: #000;
}

.category_content h1{
    border-bottom: 2px solid #333;
    width: 80px;
    font-size: 2.5rem;
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}

.category_content h1:hover{
    color: blue;
}
.category_content img{
   width: 100%;
   padding:10px;
}


.category_content p{
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 15px 15px 15px 0px;
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(216, 215, 215);
}

.selected{
   font-size: 2rem !important;
   font-weight: 600;
}
.category_content p:hover{
    color: rgb(50, 50, 204)
}


 /* block */
 .block{
    width: 100%;
    background-color:#fff;
    display: flex;
}

.block_list{
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}

.block_item{
    border-bottom: 1px solid rgb(226, 226, 226);
    padding-top: 10px;
    padding-bottom:10px;
}

.block_item a{
    text-decoration: none;
    color: #222;
    font-weight: 600;
    font-size: 1.5rem;
}

.block_item a:hover{
    color: blue;
}

/* contact */

.content_link{
    width: 30%;
    margin: 60px;
    text-align: center;   
}

.content_contact{
    width: 70%;
    border-left: 2px solid rgb(201, 200, 200);
    margin: 20px;
    
}

.content_contact-list{
    list-style: none;
    padding: 10px 20px;
    margin-left: 20px;
    color: rgb(49, 49, 49);
}

.content_contact-item h1{
    font-size: 1.8rem;
}

.content_contact-item p{
    font-size: 1.5rem;
    padding-left: 10px;
}

.content_contact-item p i{
    font-size: 1.5rem;
    margin-right: 5px;
}

.content_contact-item p strong{
    color: rgb(255, 56, 56);
}

.content_link-icon{
    height:50px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content_link-icon p{
    width: 50px;
    height: 50px;
    font-size: 2rem;
    text-align: center;
    line-height:50px;
    background-color: #e9e9e9;
    border-radius: 50px;
    padding:0;
    margin: 0;
    margin-left: 5px;
    cursor: pointer;  
}

.content_link-icon p:hover{
    background-color: #999;
}

.content_link-icon p a{
    color: #444;
    padding: 10px;
}


.content_link span{
    font-size:1.4rem;
    line-height:40px
}

.content_link div a img{
    margin-top: 25px;
    margin-bottom: 10px;
}

/* ---------------------------- */


.header_mobile_tablet{
    display:none;
}

/* footer */

.footer_bottom{
    padding: 10px;
    background-image: linear-gradient(0,#5fc666, #0fa439 ); 
}

.footer_bottom-text{
    text-align: center;
    line-height: 16px;
    font-weight: 600;
    color: rgb(22, 21, 21);
}
